.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
input {
  width: 80%;
  height: 40px;
  border: none;
}
.product-bg{
background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
background-image: linear-gradient( 180.7deg,  rgba(0,213,255,1) 2.5%, rgba(79,255,255,1) 97.7% );
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
  padding-bottom: 50px;
  border-radius: 40px 40px 0px 0px;
  padding-top: 5px;
  margin-top: 60px;
}
*{
  margin: 0px;
}
button {
  height: 42px;
  background-color: black;
  color: white;
  border: none;
}
* {
  margin: 0px;
}

.search-conatiner {
  /* background-color: purple;
  background: rgb(255,255,255);
  background: rgb(255,255,255); */
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(145,167,220,1) 0%, rgba(0,51,173,1) 100%); */
  /* padding-top: 50px;
  padding-bottom: 50px ; */
  margin-top: 20px;
}

body {
  /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(145, 167, 220, 1) 0%, rgba(0, 51, 173, 1) 100%); */
}

.details-container {
  background-color: grey;
  background: rgb(255, 255, 255);
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(145,167,220,1) 100%); */
  background-color: whitesmoke;
  width: 85%;
  border-radius: 20px;
  margin-top: -20px;
  padding: 10px;
  margin-bottom: 25px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}


.card1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  height: 40%;
  margin-bottom: 10%;
}
center{
  margin-top: 20%;
}

/* On mouse-over, add a deeper shadow */
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.con{
 
  /* position: relative;
  bottom: 0; */
  margin-top: 590px;
  background-color: whitesmoke;

  padding: 10px;
 
}
.nav{
  display: flex;
  justify-content: space-around;
  position:sticky;
  bottom: 0;

}
.cart-textt{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
}
.cart-logoo{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}
.footer{
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: lightsalmon; */
  background-color: whitesmoke;
  background-color: lightsteelblue;
  color: white;
  /* background-color: ; */
  
  display: flex;
  justify-content: space-around;
padding-top: 10px;
padding-bottom: 10px;
/* border-radius: 10px; */
margin-bottom: 0px;
margin-top: 20px;





}
.product-img{
  width: 200px;
}
.product-name{
  font-size: 25px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 30px;
  margin-left: 10px;

}
.desc{
  /* margin-top: 30px; */
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
  font-weight: bold;
  opacity:0.5 ;
}
h3{
  margin-left: 10px;
  margin-top: 10px;
}
/* .color{
  mar
} */

.product-price{
  font-size: 40px;
  color: red;
  margin-top: 5px;
  font-weight: bold;
  margin-left: 10px;
}
#blue{
  padding: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
  border: 2px solid;
}
.card-title{
  font-weight: bold;
  margin-top: 10px;
}
.card-price{
  font-size: 20px;
  margin-top: 10px;
}
#black{
  padding: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:black;
  border: 2px solid;
}
#white{
  padding: 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:white;
  border: 2px solid;
}
.colors{
  margin-left: 20px;
  margin-bottom: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}
a{

  text-decoration: none;
  color: black;
}
#notfound{
  width: 50%;
  height: 50%;
}
.search-input{
  width: 80%;
  border-radius: 10px;
  background-color:bisque;
}
.card-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 120px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightgreen;
  width: 20%;
  height: 150px;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  
}

.card {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  width: 140px;
  /* height: 500px; */
  /* overflow: auto; */
  border: 1px solid #ccc;
  padding: 10px;
  align-items: center;
  height: 230px;
  border-radius: 15px;
  margin-bottom: -40px;
}
button{
  padding: 10px;
  border-radius: 10px;
  margin-top: -40px;
}
.card-content {
  flex: 3;
}
.cartimg{
  width: 30%;
}
.cart-names{
  
}

.img {
  width: 90px;
  height: 50px;
  /* height: 100%; */
  /* margin-bottom: px; */
}

.c{
  flex-wrap: wrap;
}
.foot{
  
  
  width: 30px;
  height:30px;
  
}
foot:active{
  background-color:orange ;
  
  /* border-radius: 50%; */

}



/* Add some padding inside the card container */
.container1 {
  padding: 2px 16px;
}

/* img {
  width: 40px;
} */
.cart-logo{
  width: 70%;
}
.cart-text{
  font-size: 20px;
  font-weight: 400;
}

.cart-container{
  display: flex;
  justify-content: space-evenly;
  /* background-color: aquamarine; */
  /* border: 1px solid #ccc; */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  align-items: center;
  margin-bottom: 20px;

}
.cart-name{
  width: 120px;
  font-weight: 500;
}

.cartqua{
  /* background-color: red; */
  padding: 3px;
  padding-right: 3px;
  margin-right: 20px;
  border-radius: 40%;
  text-decoration: underline;
  /* text-decoration: none; */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}