.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input {
  width: 80%;
  height: 40px;
  border: none;
}

button {
  height: 42px;
  background-color: black;
  color: white;
  border: none;
}

* {
  margin: 0px;
}

.search-conatiner {
  /* background-color: purple;
  background: rgb(255,255,255);
  background: rgb(255,255,255); */
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(145,167,220,1) 0%, rgba(0,51,173,1) 100%); */
  /* padding-top: 50px;
  padding-bottom: 50px ; */
  margin-top: 20px;
}

body {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(145, 167, 220, 1) 0%, rgba(0, 51, 173, 1) 100%);
}

.details-container {
  background-color: grey;
  background: rgb(255, 255, 255);
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(145,167,220,1) 100%); */
  background-color: whitesmoke;
  width: 85%;
  border-radius: 20px;
  margin-top: -20px;
  padding: 10px;
  margin-bottom: 25px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}


.card1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  height: 40%;
  margin-bottom: 10%;
}

/* On mouse-over, add a deeper shadow */
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container1 {
  padding: 2px 16px;
}


/* img {
  width: 40px;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}